<div class="container-fluid">
    <div class="footer-container">
        <div class="head">
            <div class="logo-footer">
                <img class="img-fluid" src="../../assets/BEYOND COMPASS.png" alt="">
            </div>
            <div class="social-logo">
                <img src="../../assets/Social Media.png" alt="">
                <img src="../../assets/Social Media (1).png" alt="">
                <img src="../../assets/Social Media (2).png" alt="">
            </div>
        </div>

        <div class="content">
            <div class="main-content">
                <div class="content-office infor">
                    <h6>Main Office: The One Vietnam Co.Ltd,.</h6>
                    <div class="office">
                        <div class="tangle"></div>
                        <article>
                            <label>
                                <img src="../../assets/map.svg" alt=""> Location : 40-42 Thiên Phước, Ward 15, Dist 11, HCMC, VN
                            </label>
                            <label>
                                <img src="../../assets/phone.svg" alt="">
                                Contact:
                                <span>
                                    (84) 902.111.222. mobile <br>
                                    (84) 28.333.6668 ( 19 lines) <br>
                                    (84) 28.234.5678. ( fax)
                                </span>
                            </label>

                            <label>
                                <img src="../../assets/email.svg" alt="">
                                Email: abcdef.com
                            </label>

                            <label>
                                <img src="../../assets/web.svg" alt="">
                                Fax: (123)-456-7890
                            </label>

                        </article>
                    </div>
                </div>
                <div class="content-brand infor">
                    <h6>Main Office: The One Vietnam Co.Ltd,.</h6>
                    <div class="brand">
                        <div class="tangle"></div>
                        <article>
                            <label>
                                <img src="../../assets/map.svg" alt=""> Location : Singapore
                            </label>
                            <label>
                                <img src="../../assets/phone.svg" alt="">
                                Contact: <label>(84).902.111.222</label>
                            </label>
                            <label>
                                <img src="../../assets/email.svg" alt="">
                                Email: abcdef.com
                            </label>

                            <label>
                                <img src="../../assets/web.svg" alt="">
                                Fax: (123)-456-7890
                            </label>
                        </article>
                        <div class="tangle"></div>
                        <article>
                            <label>
                                <img src="../../assets/map.svg" alt=""> Location : USA
                            </label>
                            <label>
                                <img src="../../assets/phone.svg" alt="">
                                Contact: <label>(84).902.111.222</label>  
                                    
                            </label>
                            <label>
                                <img src="../../assets/email.svg" alt="">
                                Email: abcdef.com
                            </label>

                            <label>
                                <img src="../../assets/web.svg" alt="">
                                Fax: (123)-456-7890
                            </label>
                        </article>
                    </div>
                </div>
            </div>
            <div class="divide"></div>

            <div class="main-content">
                <div class="product plus">
                    <h6>OUR PRODUCT</h6>
                    <div class="list">
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Company Formation</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Globalization & Visas</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Travel & Ticket</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Logistic</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Virtual Office</a></li>
                    </div>
                </div>
                <div class="company plus">
                    <H6>COMPANY</H6>
                    <div class="list">
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">About Us</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Terms of Service</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Privacy Policy</a></li>
                        <li><a href=""><img src="../../assets/Arrow.png" alt="">Support</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>    
<div class="footer-bottom">
        <p>© 2021 Beyond Compass. All rights reserved.</p>
</div>