<div class="container-fluild">
    <div class="container-fluid">
        <div class="banner">
            <img src="../../assets/img (8).jpg" alt="banner" class="img-fluid">
        </div>
    
        <div class="content">
            <div class="content-left">
                <div class="img-container col-12">
                    <div class="row">
                        <img class="img-fluid" src="../../assets/img (9).jpg" alt="">
                    </div>
                    <div class="two-img">
                        <div class="col-6"><img class="img-fluid" src="../../assets/img (10).jpg" alt=""></div>
                        <div class="col-6"> <img class="img-fluid" src="../../assets/img (11).jpg" alt=""></div>
                    </div>
                </div>
                <img class="img-ornament img-fluid" src="../../assets/Ornament 11 (1).svg" alt="">
            </div>
            <div class="content-right">
                <div class="tags">
                    <h3>About us</h3>
                    <h5>Creating innovative solutions that shape the future</h5>
                    <p>At our core, we believe that technology has the potential to <br> revolutionize the way we live, work, and interact with the world. <br>
                        With this belief as our guiding principle, we strive to develop and <br> deliver groundbreaking products and services that address today's <br> challenges and anticipate tomorrow's needs. <br>
                        Our team is comprised of highly skilled and motivated professionals <br> who are experts in their respective fields. From software engineers <br> and data scientists to designers and product managers, our diverse <br> team collaborates seamlessly to bring ideas to life. <br> 
                        We foster a culture of creativity, innovation, and continuous learning, <br> enabling us to stay at the forefront of technological advancements.
                    </p>
                    <button class="btn"><a>Learn more</a></button>
                </div>
                
            </div>
        </div>
    </div>
</div>
