<div class="container-fluid col-12 z-3">
    <header>
        <nav class="navbar navbar-expand-xl nav-header">
            <div class="logo">
                <a class="navbar-brand" href="#"><img src="../assets/Size=Desktop&Tablet.png" alt=""></a>
            </div>

            <button class="navbar-toggler d-xl-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse justify-content-end navbar-collapse navbar-collapse-xl" id="collapsibleNavId">
                <ul class="navbar-nav">
                    <li class="nav-item" [routerLink]="['/']" [class.active-nav-item]="selectedNavItem === 'home'"
                        (click)="selectNavItem('home')">
                        <a class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/about']" [class.active-nav-item]="selectedNavItem === 'about'"
                        (click)="selectNavItem('about')">
                        <a class="nav-link">ABOUT US</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/products']" [class.active-nav-item]="selectedNavItem === 'product'"
                        (click)="selectNavItem('product')">
                        <a class="nav-link">OUR PRODUCT</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/news']" [class.active-nav-item]="selectedNavItem === 'news'"
                        (click)="selectNavItem('news')">
                        <a class="nav-link">NEWS</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/teams']" [class.active-nav-item]="selectedNavItem === 'team'"
                        (click)="selectNavItem('team')">
                        <a class="nav-link">OUR TEAM</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/contact']" [class.active-nav-item]="selectedNavItem === 'contact'"
                        (click)="selectNavItem('contact')">
                        <a class="nav-link">CONTACT</a>
                    </li>
                    <li class="nav-item" [routerLink]="['/blogs']" [class.active-nav-item]="selectedNavItem === 'blog'"
                        (click)="selectNavItem('blog')">
                        <a class="nav-link">BLOG</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <router-outlet></router-outlet>
</div>

