*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.head img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.main-card-sections{
    display: flex;
    flex-direction: column;

    gap: 60px;
    padding: 0px 104px;

}
.tags{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    background: var(--Neutral-N10, #FAFAFA);
}
.text{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
}
.text span{
    color: var(--Neutral-N200, #666);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.text .helper-span{
    color: var(--Neutral-N60, #B0B0B0);
}
.text a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #4D63E2;
    gap: 8px;
}
.container-card{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 44px 32px;
    flex: 1 0 0;
    flex-wrap: wrap;
}
.card{
    display: flex;
    min-width: 350px;
    max-width: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    min-height: 480px;
    border-radius: none;
    border: none;
}
.card .card-img-top{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}
.card-title{
    color: var(--Neutral-N500, #3B3B3B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;
}
.card p{
    color: var(--Neutral-N200, #666);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.card p a{
    color: #4D63E2;
    text-decoration: none;
    font-weight: 500;
}
.pagination{
    gap: 8px;
}
.page-link{
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    color: var(--Neutral-N500, #3B3B3B);

}



