*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.head img{
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
.main-card-sections{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0px 104px;
}
.tags{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Neutral-N10, #FAFAFA);
    padding: 16px;
    border: 2px solid var(--Neutral-N30, #EBEBEB);
}
.text{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}
.text span{
    color: var(--Neutral-N200, #666);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
}
.text .helper-span{
    color: var(--Neutral-N60, #B0B0B0);
}
.btn{
    font-family: Roboto;
    text-transform: uppercase;
    background-color: var(--background-btn);
    color: #FFF;
    border-radius: 100px;
    padding: 12px 16px;
}
.menu{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;
}
.category{
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    color: var(--Neutral-N500, #3B3B3B);
    font-size: 16px;
    gap: 8px;
    border-radius: 40px;
    border: 1px solid var(--Neutral-N200, #666);
}
.container-card{
    display: flex;
    align-items: flex-start;
    gap: 44px 32px;
    flex: 1 0 0;
    flex-wrap: wrap;
}
.card{
    display: flex;
    max-height: fit-content;
    min-height: 400px;
    min-width: 350px;
    max-width: 450px;
    flex-direction: column;
    flex: 1 0 0;
    border-radius: 24px;
    border: 2px solid var(--Neutral-N30, #EBEBEB);
}
.card .card-img-top{
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    border-radius : 24px 24px 0px 0px;
    flex: 1 0 0;
}
.card-body{
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
    border-radius:0px 0px 24px 24px ;
    background: var(--Neutral-N10, #FAFAFA);
}
.card-body .badge{
    max-width: fit-content;
    text-transform: uppercase;
    padding: 4px 8px;
    gap: 8px;
    border-radius: 40px;
    background: var(--Neutral-N30, #EBEBEB);
    color: var(--Neutral-N500, #3B3B3B);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: 0.18px;
}
.card-title{
    color: var(--Neutral-N500, #3B3B3B);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 30px */
    letter-spacing: 0.2px;
}
.card p{
    color: var(--Neutral-N60, #B0B0B0);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: 0.14px;
}
.card-text{
    display: flex;
    justify-content: space-between;
}
.card p a{
    color: var(--Blue-blue-500, #4D63E2);
    font-size: 16px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.24px;
}
.pagination{
    gap: 8px;
}
.page-link{
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    color: var(--Neutral-N500, #3B3B3B);

}



