<div class="container-fluid">
    <div class="cirle-light"></div>
    <div class="cirle-bold"></div>
    <div class="banner">
        <img src="../../assets/banner.jpg" alt="banner" class="img-fluid">
    </div>

    <div class="content">
        <div class="content-left">
            <h3>Increase Your <br> Customers Loyalty <br> and Satisfaction</h3>
            <p>We help business like yours earn more <br> customers, standout from competitors, make <br> more money.
            </p>
            <button [routerLink]="['/about']" class="btn btn-primary"><a>Get Started <img class="img-fluid" src="../../assets/arrow-right.svg"alt=""></a></button>
        </div>
        <div class="content-right container-fluid">
            <img class="img-one" src="../../assets/img-one.jpg" alt="">
            <img class="img-two" src="../../assets/img-two.jpg" alt="">
            <img class="img-ornament" src="../../assets/Ornament 11 (1).svg" alt="">
        </div>
    </div>
    <div class="diff">
        <img src="../../assets/Google svg.svg" alt="">
        <img src="../../assets/Trello svg.svg" alt="">
        <img src="../../assets/monday.com svg.svg" alt="">
        <img src="../../assets/Notion svg.svg" alt="">
        <img src="../../assets/Slack svg.svg" alt="">
    </div>
   
</div>